/* Site colors */
:root {
  --home-bar: #D4C1B3CC;
  --background:  #FDFBF8;
  --background-off: #fdf8f4ad;
  --text-body: #EFACA5;
  --overlay: #FDF8F499;
  --heading: #e78e8e;
  --body-font: 'Cormorant Upright', serif;
  --page-background: #F7EFDA;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  background-color: var(--background);
  height: '100vh';
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  display: 'flex';
  flex-direction: column;
}

main {
  background-color: #F7EFDA;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2rem; */
}



