/* Index styles */
.background {
  background-image: url(https://jeanice-mua.s3.us-east-2.amazonaws.com/images/Kath_Matt_JeanLaurentGaudy_417.webp);
  background-size: cover;
  background-position: center;
  /* padding: 6rem 2rem; */
  text-align: center;
  /* border-radius:12px; */
  width: 100vw;
  height: 100vh;
}

.lowerBackground {
  background-image: url(https://jeanice-mua.s3.us-east-2.amazonaws.com/images/IMG_6091.jpeg);
  background-size: cover;
  background-position: center;
  /* padding: 6rem 2rem; */
  text-align: center;
  /* border-radius:12px; */
  width: 100vw;
  height: 100vh;
}

@media (max-width: 760px) {
  .lowerBackground {
    height: 80vh;
  }
}

.overlay {
  background-color: var(--overlay);
  padding: 2rem;
  border-radius: 12px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text-body);
  font-family: var(--body-font);
}

.subheading {
  font-size: 1.2rem;
  max-width: 600px;
  text-align: center;
  margin: 0 auto 2rem auto;
  color: var(--text-body);
  font-family: var(--body-font);
}

.aboutWrapper {
  margin-top: 4rem;
  padding: 2rem;
}

.imageWrapper {
  text-align: center;
  display: flex;
  justify-content: center;
}

.profileImage {
  border-radius: 8px;
}

.textWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.aboutTitle {
  font-size: 2rem !important;
  margin-bottom: 1rem;
  color: var(--heading);
  text-align: center;
}

.aboutText {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8;
}

.labelBox {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  color: var(--background-off);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  height: 250px;
  background-size: cover;
  background-position: center;
}

.recentHeading {
  text-align: center;
  font-family: var(--body-font);
  color: var(--dark-font);
  /* margin-top: 4rem; */
  font-size: 3rem;
  margin: 7px !important;
}

.galleryWrapper {
  padding: 2rem;
}

.galleryImageBox {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.galleryImage {
  object-fit: cover;
  border-radius: 16px;
}

.iconStyle {
  color: var(--dark-font);
  font-size: 32px !important;
  transition: 'color 0.3s ease';
  cursor: 'pointer';
}

.iconStyle:hover {
  color: '#0070f3';
}

/* Footer Styles */
.footer {
  background-color: var(--home-bar);
  padding: 1rem;
  text-align: center;
  color: var(--background);
  width: 100%;
  bottom: 0;
  height: 120px;
  margin-top: auto;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Styles */
.appbar {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  background: var(--home-bar) !important;
  position: static;
  box-shadow: none !important;
}

.logo {
  font-family: 'Mr De Haviland', cursive !important;
  font-weight: 10000 !important;
  font-size: 5em !important;
  letter-spacing: 0.3rem !important;
  color: #FDF8F4;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  mix-blend-mode: difference !important;
  background: transparent;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.navLink {
  text-align: center;
  color: #FDF8F4 !important;
  font-size: 3em !important;
  font-family: var(--body-font) !important;
  cursor: pointer;
  position: relative;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.headerLink {
  text-align: center;
  color: #FDF8F4 !important;
  font-size: 2em !important;
  font-family: var(--body-font) !important;
  cursor: pointer;
  position: relative;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.headerLogo {
  font-family: 'Mr De Haviland', cursive !important;
  font-weight: 10000 !important;
  font-size: 3em !important;
  letter-spacing: 0.3rem !important;
  color: #FDF8F4 !important;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

@media (max-width: 760px) {
  .logo {
    font-size: 3.5em !important;

  }

  .navLink {
    font-size: 2em !important;
  }
}

.linkBox {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 1rem;
}

@media (min-width: 760px) {
  .linkBox {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
  }
}

/* Inquiries Styles */
.inqBackground {
  background-color: var(--page-background) !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  width: 80% !important;
  height: 100vh;
  background-image: url(https://jeanice-mua.s3.us-east-2.amazonaws.com/images/Dana-28.JPEG);
}

.form {
  padding: 20px;
}

.overlayWrapper {
  background-color: var(--overlay);
  max-width: 600px;
  max-height: 800px;
  border-radius: 10px;
  box-shadow: #e78e8e;
}

@media (width <=750px) {
  .formWrapper {
    width: 100% !important;
  }


}

/* Portfolio Styles */
.modal {
  position: 'absolute';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-off) !important;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}

.portfolioWrapper {
  /* background-color: var(--home-bar); */
  background-color: black;
}

/* Services Styles */
.serviceWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}

.serviceBox {
  width: 50%;
  list-style-position: inside;
  /* padding: 20px; */
  background-size: 'cover';
  background-position: 'center';
  display: 'flex';
  padding-bottom: 20px;
}

@media (width <=750px) {
  .serviceWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .serviceBox {
    width: 100%;
  }

}

.serviceItem {
  font-size: 1.5rem !important;
}

.serviceList {
  text-align: left;
  line-height: 2.5rem;
}